nav{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px;
    transition: all 0.5s ease;
    z-index: 1;
}

header.active{
    background-color: black;
    color: white;
}

.navegacion ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.navegacion ul li{
    padding: 18px;
    display: inline;
    list-style: none;
    transition: all 1;
    font-weight: bold;
    cursor: pointer;
}

.dropbtn {
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    min-width: 200px;
    max-height: 663px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -50px;
  }

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    margin: 15px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown a:hover{
    background-color: #ddd;
}
  
.show{
    display: block;
}

.iconosHeader{
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 26px;
}

.barra_busqueda{
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0px 0px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.barra_busqueda:hover{
    background-color: #E4E4E4;
}

.inputSearch{
    border:none;
    width: 57em;
    padding: 15px 5px;
    background-color:transparent;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.inputSearch:focus{
    outline: 0;
}

.informacion{
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: grey;
}

.informacion svg{
    cursor: pointer;
    background:none;
}
.informacion div{
    display: flex;
    justify-content: center;
}

.configuration{
    padding: 2px 5px;
}

.configuration:hover{
    background-color: #E4E4E4;
}

.perfilImg{
    display: flex;
    padding: 5px 8px;
    background-color: rgb(219, 219, 219);
    color: black;
    cursor: pointer;
}

.perfilImg:hover{
    box-shadow: 0px 0px 1px 12px #E4E4E4;
}

.perfil{
    margin: 0;
    font-size: 13px;
}

.informacion svg:hover{
    background-color: #E4E4E4;
}

.perfilOpt{
    display: flex;
    align-items: center;
    padding: 35px 25px;
    margin: 10px 15px; 
    height: 25px;
    background-color: rgb(219, 219, 219);
    color: black;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-random{
    margin-top: 5.5em;
    width: 1400px;
    justify-content: space-around;
    columns: 5 50px;
}

main img{
    float: left;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 252px;
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .button-save{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .button-save button{
    padding: 15px 20px;
    background-color: rgb(235, 0, 0);
    color: white;
    border: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .button-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 15.5em;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .upload{
    width: 35px; 
    height: 35px; 
    padding: 0; 
    display:flex; 
    justify-content: center; 
    margin-left: 40px;
}

.dots{
    margin: 0px 10px;
    padding: 0 10px;
}

.upload svg{
    margin-bottom: 5px;
}
  
  .image-container:hover .button-container {
    opacity: 1;
  }

  .image-container:hover .button-save {
    opacity: 1;
  }
  
  .button-container button {
    display: block;
    margin-bottom: 10px;
    border: none;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .dropOptions{
    display: flex;
    flex-direction: column;
  }

  .accountInfo{
    display: flex; 
    cursor: pointer;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
  }

  .accountInfo:hover{
    background-color: rgb(219, 219, 219);
  }

  .configAccount{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .configAccount a{
    margin: 0;
    width: 95%;
    padding: 10px;
    font-weight: bold;
  }

  .configAccount a svg{
    position: sticky;
    left: 100%;
  }

  .configAccount a:last-child{
    margin-bottom: 10px;
  }

  .White{
    color:white;
  }

@media screen and (min-width: 320px) and (max-width: 1100px){
    header{ 
    padding: 0;
    }

    body{
        background-color: black!important;
    }

    main{
        width: 100%;
    }

    .img-random{
        margin: 0;
    }

    .random{
        max-width: 149px;
    }

    nav{
        display: flex;
        justify-content: space-around;
    }

    nav svg{
        color: white;
    }

    .button-container{
        width: 10em;
        left: 2px;
        justify-content: flex-start;
        align-items: center
    }

    .button-container button{
        margin: 0;
    }
    
    .button-container button:first-child{
        height: 2em;
        width: 10em;
        font-size: 8px;
        margin: 0;
    }

    .button-container button:nth-child(2){
        display: flex;
        align-items: center;
        margin-left: 14px;
        height: 1.5em;
        width: 1.5em;
    }

    .button-container button:nth-child(2) svg{
        width: 12px;
        height: 12px;
    }

    .button-container button:nth-child(3){
        padding: 0 5px;
    }

    .button-container button svg{
        width: 12px;    
    }

    .button-save button{
        padding: 5px 10px;
        font-size: 10px;
      }


}

@media screen and (min-width: 375px) and (max-width: 475px){
    
    body{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    }
    main{
        margin-left:2em; 
        justify-content: center;
        max-width: 375px;
    }

    .img-random{
        margin: 0;
        columns: 2 10px;
    }
}

@media screen and (min-width: 475px) and (max-width: 610px){
    .img-random{
        margin: 0;
        columns: 3 50px;
    }
}

@media screen and (min-width: 610px) and (max-width: 800px){
    .img-random{
        margin: 0;
        columns: 4 50px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1100px){
    .img-random{
        margin: 0;
        columns: 5 50px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px){
    nav{
        justify-content: space-around;
    }
    
    .img-random{
        margin-top: 6em;
        columns: 4 50px;
    }

    .inputSearch{
        width: 18em;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1700px){
    nav{
        justify-content: space-around;
    }

    .inputSearch{
        width: 53em;
    }

    .img-random{
        margin-top: 6em;
        columns: 5 50px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2560px){
    nav{
        justify-content: space-around;
    }

    .inputSearch{
        width: 53em;
    }

    .img-random{
        margin-top: 6em;
        columns: 6 50px;
    }
}